/*=============================
=            GLOBALS            =
=============================*/

@import "global";
// @import "custom";

/*=======================================
=       ADMIN:  PLUGIN STYLES          =
=======================================*/

.wp-list-table {

	#the-list {

		tr.active td, th {
			// border: 1rem solid red;
			// background-color: lighten(indigo, 45%) !important;
		}

	}	
}

/**
 *
 * SHORTCODE ADMIN PAGE
 *
 */
#block-one {
	padding-top: 3rem;
	padding-bottom: 3rem;

	h5 {
		font-size: 1rem;
		color: blue;
	}
}





































